<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<!--
<span style="float:right">Damian Osiak | 40843 | WSB Cieszyn | Informatyka niestacjonarnie | I rok II semestr (letni) | 2019/2020</span>
    <h1>Grades:</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Grade</th>
            <th><a href="/pupils">Pupil ID</a></th>
            <th><a href="/subjects">Subject ID</a></th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="grades : ${grades}">
            <td th:text="${grades.id}">gradeId</td>
            <td th:text="${grades.grade}">gradeGrade</td>
            <td th:text="${grades.pupil}">gradePupil</td>
            <td th:text="${grades.subject}">gradeSubject</td>
            <td><a th:href="@{/grades/edit/{id}(id=${grades.id})}">Update</a></td>
            <td><a th:href="@{/grades/delete/{id}(id=${grades.id})}">Delete</a></td>
        </tr>
    </table>
    <hr>
    <button><a href="/addgradepage">Add grade</a></button>
    <button><a href="/">Index page</a></button>
-->
<span style="float:right">Damian Osiak | 40843 | WSB Cieszyn | Informatyka niestacjonarnie | I rok II semestr (letni) | 2019/2020</span>
<hr style="clear:both;">
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Grades</span></h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <th>ID</th>
                            <th>Grade</th>
                            <th><a href="/pupils">Pupil ID</a></th>
                            <th><a href="/subjects">Subject ID</a></th>
                            <th>Actions</th>
                            </thead>
                            <tr th:each="grades : ${grades}">
                                <td th:text="${grades.id}">gradeId</td>
                                <td th:text="${grades.grade}">gradeGrade</td>
                                <td><a th:href="@{/pupils/edit/{id}(id=${grades.pupil})}" th:text="${grades.pupil}"></a></td>
                                <td><a th:href="@{/subjects/edit/{id}(id=${grades.subject})}" th:text="${grades.subject}"></a></td>
                                <td>
                                    <a th:href="@{/grades/edit/{id}(id=${grades.id})}">Update</a>
                                    <a th:href="@{/grades/delete/{id}(id=${grades.id})}" onMouseOver="this.style.color='#FF0000'" onMouseOut="this.style.color='#337ab7'">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/" class="btn btn-default" role="button" style="width:50%;float:left;">Back to menu</a>
                    <a href="/addgradepage" class="btn btn-default" role="button" style="width:50%">Add grade</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>