<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Select:</h1>
    <list>
        <ul><button><a href="/addgradepage">Add grade</a></button></ul>
        <ul><button><a href="/grades">View grades</a></button></ul>
        <ul><button><a href="/addpupilpage">Add pupil</a></button></ul>
        <ul><button><a href="/pupils">View pupils</a></button></ul>
        <ul><button><a href="/addsubjectpage">Add subject</a></button></ul>
        <ul><button><a href="/subjects">View subjects</a></button></ul>
        <ul><button><a href="/addlecturerpage">Add lecturer</a></button></ul>
        <ul><button><a href="/lecturers">View lecturers</a></button></ul>
    </list>
    <hr>
    <span style="float:right">Damian Osiak | 40843 | WSB Cieszyn | Informatyka niestacjonarnie | I rok II semestr (letni) | 2019/2020</span>
</body>
</html>