<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update lecturer</title>
    <style>
        html body{
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<!--
<span style="float:right">Damian Osiak | 40843 | WSB Cieszyn | Informatyka niestacjonarnie | I rok II semestr (letni) | 2019/2020</span>
<h1>Update lecturer: </h1>
<hr>
<form action="#"
      th:action="@{/lecturers/update/{id}(id=${lecturers.id})}"
      th:object="${lecturers}"
      method="post">
    <list>
        <ul>First name: <input type="text" th:field="*{firstName}" id="firstName" required></ul>
        <ul>Last name: <input type="text" th:field="*{lastName}" id="lastName" required></ul>
        <ul><input type="submit" value="Update Lecturer"></ul>
    </list>
</form>
<hr>
<button><a href="/lecturers">View lecturers</a></button>
<button><a href="/">Index page</a></button>
-->
<span style="float:right">Damian Osiak | 40843 | WSB Cieszyn | Informatyka niestacjonarnie | I rok II semestr (letni) | 2019/2020</span>
<hr style="clear:both;">
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Update lecturer</span></h1>
                </div>
                <form action="#"
                      th:action="@{/lecturers/update/{id}(id=${lecturers.id})}"
                      th:object="${lecturers}"
                      method="post">
                    <div class="panel-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="fFirstName">First name</label>
                                <input type="text" class="form-control" id="fFirstName" th:field="*{firstName}" placeholder="First name" required>
                            </div>
                            <div class="form-group">
                                <label for="fLastName">Last name</label>
                                <input type="text" class="form-control" id="fLastName" th:field="*{lastName}" placeholder="Last name"required>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" style="width:50%;float:left;">Reset</button>
                        <button type="submit" class="btn btn-success" style="width:50%">Update lecturer</button>
                        <a href="#" class="btn btn-default" role="button" style="width:50%;float:left;" onclick="javascript:window.history.back()">Back</a>
                        <a href="/lecturers" class="btn btn-default" role="button" style="width:50%">Back to lecturers</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>